In [2]:
import pandas as pd

In [10]:
YALE_CELI_LIST = "https://som.yale.edu/story/2022/over-1000-companies-have-curtailed-operations-russia-some-remain"
companies = pd.read_html(YALE_CELI_LIST)[0]
print(type(companies["Name"]), type(companies["Name"].str.contains("a")))
companies[companies["Name"].str.lower().str.contains("a")]

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

,Name,Action,Industry,Country
0,Acerinox,still operating in Russia,Materials,Spain
1,Agrana,continue operating plant in Russia,Consumer Staples,Austria
2,Agricultural Bank of China,Russian companies open accounts with the bank;...,Financials,China
3,Aimbridge | Interstate Hotels,still operating in Russia,Consumer Discretionary,United States
4,Air China,still flying to Russia,Industrials,China
...,...,...,...,...
235,Wolffkran,still operating in Russia,Industrials,Switzerland
236,Xibao Metallurgy Materials Group,building a refractory material plant in Lipets...,Industrials,China
237,Yazaki,operating in Russia through a subsidiary,Consumer Discretionary,Japan
238,Yokogawa,still operating in Russia; not disclosed publicly,Information Technology,Japan
242,Zwack,Not disclosed publicly,Consumer Staples,Hungary

In [7]:
from datetime import date
from pathlib import Path


class Companies:
    GRADES = "FDCBA"

    def __init__(self, companies_dataframe: pd.DataFrame):
        self.companies_df = companies_dataframe

    def fetch_data(self):
        file_name = f"./yale_companies_{date.today()}"
        if Path(file_name).exists():
            return pd.read_json(file_name)
        else:
            YALE_CELI_LIST = "https://som.yale.edu/story/2022/over-1000-companies-have-curtailed-operations-russia-some-remain"

            def companies_from_html():
                companies = pd.read_html(YALE_CELI_LIST)
                for grade_, df in zip(GRADES, tables):
                    df["Grade"] = grade_

                    result = pd.concat([result, df])

                result.head()


    @classmethod
    def _valid_grade(cls, grade: str):
        return len(grade) == 1 and grade.lower() in cls.GRADES.lower()

    def by_grade(self, letter):
        if not self._valid_grade(letter):
            raise ValueError(f"Invalid grade: {letter}. Valid grades: {Companies.GRADES}")

        return self.companies_df[self.companies_df["Grade"] == letter.upper()]

    def _valid_country(self, country_name):
        return country_name.title() in self.companies_df["Country"]

    def by_country(self, country_name):
        if not self._valid_country:
            raise ValueError(f"Invalid country_name: {country_name}")

        return self.companies_df[self.companies_df["Country"] == country_name.title()]

In [8]:
companies = Companies(result)

companies.by_grade("a")

NameError: name 'result' is not defined